#job-stats-display {
	display: flex;
	flex-direction: row;
	padding: 20px 45px;
}

.job-stat-container {
	display: flex;
	flex-direction: row;
}

.job-stat-element {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 12px;
	padding: 10px 20px;
	border-radius: 2px;
	margin-right: 1px;
	background-color: var(--main-blue);
	color: white;
	min-width: 160px;
	text-align: center;
	box-shadow: var(--shadow-elevation-low);
}

.job-stat-name {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.job-stat-count {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	font-weight: bold;
	color: #ffab6e;
}

.triangle-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 13px;
	width: 40px;
}

.triangle {
	height: 90%;
}
