nav {
	display: flex;
	flex-direction: row;
	padding: 30px 30px;
}

#title-text {
	font-size: 28px;
	font-weight: bold;
	color: var(--main-blue);
}

#nav-elements-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-left: 55px;
	cursor: pointer;
}

.nav-element {
	margin-right: 55px;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--main-grey);
	transition: color 0.25s ease-in-out;
}

.nav-element.active {
	color: var(--main-orange);
}

.nav-element:hover {
	color: var(--main-orange);
}

#signout-container {
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	margin-left: auto;
	transition: color 0.25s ease-in-out;
}

#signout-container a {
	cursor: pointer;
}

#signout-container:hover {
	color: var(--main-blue);
}
