.error-container {
	height: 35px;
	margin-bottom: 3px;
}

.error-display {
	height: 35px;
	line-height: 35px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	background-color: red;
	border-radius: 20px;
	padding: 0 15px;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.tooltip-main {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	min-width: 250px;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	max-width: inherit;
	min-width: inherit;
	text-overflow: ellipsis;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: white;
	border: 1px solid black;
	color: black;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 100;
	bottom: 100%;
	transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
