.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-box {
	position: relative;
	width: 38px;
	height: 38px;
	border: 1px solid rgb(167, 167, 167);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
}

.button-box:not(.empty-notes):hover {
	background-color: #ff7d209e;
}

.button-box.empty-notes {
	color: grey;
	cursor: pointer;
}

.button-box.empty-notes:hover {
	background-color: rgb(201, 201, 201);
}

.empty-notes-icon,
.notes-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.empty-notes-icon {
	width: 25px;
	height: 25px;
	z-index: 10;
}

.notes-icon {
	width: 17px;
	height: 17px;
	z-index: 30;
}

.notes-textarea {
	width: 300px;
	height: 300px;
	font-size: 20px;
	border: 2px solid var(--main-orange);
	border-radius: 5px;
	padding: 5px;
	font-family: "Nunito", sans-serif;
	color: black;
	vertical-align: top;
	line-height: 1.5;
}
