#job-app-controls {
	display: flex;
	flex-direction: row;
	margin: 20px 45px;
}

#job-add-button {
	width: 180px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: var(--main-green);
	border: none;
	border-radius: 5px;
	box-shadow: 5px 10px 5px #767676, -10x -10px 25px #e0dfdf;
}

#job-table {
	width: 1100px;
	font-size: 18px;
	flex-shrink: 0;
	border-radius: 10px;
	box-shadow: var(--shadow-elevation-medium);
}

#job-table thead tr th:first-child {
	border-radius: 10px 0 0 0;
}

#job-table thead tr th:last-child {
	border-radius: 0 10px 0 0;
}

#job-table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

#job-table tbody tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

#job-table th {
	background-color: var(--main-blue);
	color: white;
	box-shadow: none;
	padding: 10px;
	white-space: nowrap;
}

#job-table td {
	height: 52px;
	padding: 5px 15px;
	text-align: center;
	border-bottom: 4px solid white;
	text-align: center;
}

#job-table tbody tr:last-child td {
	border-bottom: none;
}

#job-table tbody tr:nth-child(odd) {
	background-color: #f4f4f4;
}

#job-table tbody tr:nth-child(even) {
	background-color: #e2e2e2;
}

.sort-order-toggle {
	margin-left: 5px;
	padding-bottom: 5px;
}

input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	width: 1em;
	height: 1em;
	border: 2px solid var(--main-orange);
	border-radius: 3px;
}

.title-cell {
	max-width: 250px;
	min-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.company-cell {
	max-width: 150px;
	min-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-controls {
	display: flex;
	flex-direction: row;
	margin: 12px;
	gap: 5px;
	font-size: 20px;
}

.page-button {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	color: var(--main-orange);
	transition: color, background-color 0.3s ease-in-out;
	border: 1px solid black;
}

.page-button:hover {
	background-color: var(--main-orange);
	color: white;
}

.page-button svg {
	width: 22px;
	height: 22px;
}

.page-display-box {
	height: 40px;
	font-size: 20px;
	gap: 15px;
}

.page-input {
	width: 60px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

.page-total {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Chrome, Safari, Edge, Opera */
.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.page-input:hover {
	overflow: hidden;
}
